.drapdropStyles {
    width: 100%;
    height: 87vh;
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.drapdropStyles .item {
    min-height: 25px;
}

.dragStyle {
    border-right: 2px solid #dfdfdf;
    margin-right: 2%;
}

.contentStatus {
    border-bottom: solid 2px #e6e6e6;
}

.listButtonStatus {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
}

.listButtonStatus li {
    font-size: 12px;
}

.listButtonStatus li .listButtonReposive {
    background: #edeef2;
}

.listButtonStatus li .listButtonReposive .buttonListReposive {
    border: none;
}

.dropHere {
    width: 100%;
    height: 100vh;
}