.SideBarNav {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #edeef2;
    flex-grow: 1;
    height: 40px;
}

.SideBarNav.Active {
    background-color: #fff;
    border-bottom: none;
    height: 40px;
}